@charset "UTF-8";

a,
a:hover {
    color: #FF72C6
}

.btn-primary {
    color: #fff;
    background-color: #FF72C6 !important;
    border-color: #FF72C6
}

.btn-primary:hover {
    color: #fff;
    background-color: #4277c1 !important;
    border-color: #4277c1
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 2px rgba(59, 175, 253, .5)
}

.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #FF72C6 !important;
    border-color: #FF72C6
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 2px rgba(59, 175, 253, .1)
}

.btn-secondary {
    color: #fff;
    background-color: #5eba00 !important;
    border-color: #5eba00
}

.btn-secondary:hover {
    color: #fff;
    background-color: #55a206 !important;
    border-color: #55a206 !important
}

.btn-secondary.focus,
.btn-secondary:focus {
    box-shadow: 0 0 0 2px rgba(94, 186, 0, .1)
}

.btn-secondary.disabled,
.btn-secondary:disabled,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #55a206;
    border-color: #55a206
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 2px rgba(94, 186, 0, .1)
}

.btn-gradient-primary {
    color: #fff;
    background: linear-gradient(to bottom right, #FF72C6, #4f4da5) !important;
    border-color: #554d97
}

.btn-gradient-primary:hover {
    color: #fff;
    border-color: #4f4da5;
    background-color: #4f4da5 !important
}

.btn-gradient-primary.focus,
.btn-gradient-primary:focus {
    box-shadow: 0 0 0 2px rgba(140, 95, 197, .5)
}

.btn-gradient-primary.disabled,
.btn-gradient-primary:disabled {
    color: #fff;
    background-color: #FF72C6 !important;
    border-color: #FF72C6
}

.btn-gradient-primary:not(:disabled):not(.disabled).active,
.btn-gradient-primary:not(:disabled):not(.disabled):active,
.show>.btn-gradient-primary.dropdown-toggle {
    color: #fff;
    background-color: #FF72C6 !important;
    border-color: #4f4da5
}

.btn-gradient-primary:not(:disabled):not(.disabled).active:focus,
.btn-gradient-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-gradient-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 2px rgba(140, 95, 197, .1)
}

.btn-outline-primary {
    color: #FF72C6;
    background-color: #fff !important;
    background-image: none !important;
    border-color: #FF72C6
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #FF72C6 !important;
    border-color: #FF72C6
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
    box-shadow: 0 0 0 2px rgba(70, 127, 207, .1)
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #FF72C6;
    background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #FF72C6 !important;
    border-color: #FF72C6
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 2px rgba(70, 127, 207, .1)
}

.btn-outline-secondary {
    color: #32cafe;
    background-color: transparent;
    background-image: none;
    border-color: #32cafe
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #32cafe !important;
    border-color: #32cafe
}

.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
    box-shadow: 0 0 0 2px rgba(134, 142, 150, .1)
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
    color: #32cafe;
    background-color: transparent
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show>.btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #32cafe !important;
    border-color: #32cafe
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 2px rgba(134, 142, 150, .1)
}

.btn-link,
.dropdown-item:focus,
.dropdown-item:hover,
.input-group-addon {
    color: #FF72C6
}

.mediaicon {
    border: 1px solid #FF72C6;
    background: #FF72C6 !important
}

.chat-message,
a.chip:hover {
    background-color: #FF72C6 !important
}

.chat-message:after {
    border-left: 6px solid #FF72C6 !important
}

.tag-primary {
    background-color: #FF72C6 !important;
    color: #fff
}

.tag-secondary {
    background-color: #868e96;
    color: #fff
}

.custom-range:focus::-moz-range-thumb,
.custom-range:focus::-ms-thumb,
.custom-range:focus::-webkit-slider-thumb {
    border-color: #FF72C6;
    background-color: #FF72C6 !important
}

.custom-range::-moz-range-progress,
.custom-range::-ms-fill-lower,
.custom-range::-webkit-slider-runnable-track {
    background: #FF72C6 !important
}

.selectgroup-input:checked+.selectgroup-button,
.selectgroup-input:focus+.selectgroup-button {
    border-color: #FF72C6;
    color: #FF72C6
}

.custom-switch-input:checked~.custom-switch-indicator {
    background: #FF72C6 !important
}

.custom-switch-input:focus~.custom-switch-indicator {
    box-shadow: 0 0 0 2px rgba(70, 127, 207, .25);
    border-color: #FF72C6
}

.label-primary {
    background: #FF72C6 !important
}

.imagecheck-input:focus~.imagecheck-figure {
    border-color: #FF72C6;
    box-shadow: 0 0 0 2px rgba(70, 127, 207, .25)
}

.imagecheck-figure:before {
    background: #FF72C6 url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") no-repeat 50%/50% 50%;
    color: #fff
}

.colorinput-input:focus~.colorinput-color,
.selectize-input.focus {
    border-color: #FF72C6;
    box-shadow: 0 0 0 2px rgba(70, 127, 207, .25)
}

.selectize-dropdown .active {
    color: #FF72C6
}

.mailsearch .btn {
    background-color: #FF72C6 !important;
    border: 1px solid #FF72C6
}

timeline__item:after {
    border: 6px solid #FF72C6
}

.custom-control-input:checked~.custom-control-label:before {
    color: #fff;
    background-color: #FF72C6 !important;
    border-color: #FF72C6
}

.custom-control-input:focus~.custom-control-label:before {
    box-shadow: 0 0 0 1px #f9f9f9, 0 0 0 2px rgba(70, 127, 207, .25)
}

.custom-checkbox .custom-control-input:checked~.custom-control-label:before,
.custom-checkbox .custom-control-input:indeterminate~.custom-control-label:before {
    background-color: #FF72C6 !important
}

.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label:before,
.custom-checkbox .custom-control-input:disabled:indeterminate~.custom-control-label:before {
    background-color: rgba(70, 127, 207, .5) !important
}

.custom-radio .custom-control-input:checked~.custom-control-label:before {
    background-color: #FF72C6 !important
}

.custom-radio .custom-control-input:disabled:checked~.custom-control-label:before {
    background-color: rgba(70, 127, 207, .5) !important
}

.custom-select:focus::-ms-value {
    color: #FF72C6;
    background-color: #fff !important
}

.custom-select:disabled {
    color: #FF72C6 !important
}

.custom-file-input:focus~.custom-file-label {
    border-color: #FF72C6 !important;
    box-shadow: 0 0 0 2px rgba(70, 127, 207, .25)
}

.custom-file-input:focus~.custom-file-label:after {
    border-color: #FF72C6
}

.custom-file-label:after {
    background-color: #FF72C6 !important;
    border-left: 1px solid #FF72C6
}

.custom-range::-webkit-slider-thumb {
    background-color: #FF72C6 !important
}

.custom-range::-moz-range-thumb {
    background-color: #FF72C6 !important
}

.custom-range::-moz-range-thumb:focus {
    outline: none;
    box-shadow: 0 0 0 1px #f9f9f9, 0 0 0 2px rgba(70, 127, 207, .25)
}

.custom-range::-ms-thumb {
    background-color: #FF72C6 !important
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #FF72C6 !important
}

.page-link:hover {
    color: #FF72C6
}

.page-item.active .page-link {
    background-color: #FF72C6 !important;
    border: 1px solid #FF72C6
}

.table-inbox tr td .fa-star.inbox-started,
.table-inbox tr td .fa-star:hover {
    color: #FF72C6
}

.progress-bar {
    background-color: #FF72C6
}

.list-group-item.active {
    border: 1px solid #FF72C6
}

.bg-primary {
    background-color: #FF72C6 !important;
    color: #fff !important
}

a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
    background-color: #6a54a3 !important;
    color: #fff !important
}

.bg-secondary {
    background-color: #5eba00 !important
}

a.bg-secondary:focus,
a.bg-secondary:hover,
button.bg-secondary:focus,
button.bg-secondary:hover {
    background-color: #2e384d !important
}

.bg-gradient-primary {
    background: linear-gradient(to bottom right, #FF72C6, #FF72C6)
}

.bg-gradient-secondary {
    background: linear-gradient(to bottom right, #4f9805 0, #5eba00)
}

.border-primary {
    border-color: #FF72C6 !important
}

.border-secondary {
    border-color: #868e96 !important
}

.text-primary {
    color: #FF72C6 !important
}

a.text-primary:focus,
a.text-primary:hover {
    color: #24987e !important
}

.text-secondary {
    color: #5eba00 !important
}

a.text-secondary:focus,
a.text-secondary:hover {
    color: #7d41de !important
}

pre {
    border-left: 3px solid #FF72C6
}

.header-bg {
    background: linear-gradient(linear, left top, right top, from(#FF72C6), to(#FF72C6))
}

a.icon:hover {
    color: #FF72C6
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover:not(.disabled) {
    color: #fff;
    background: #FF72C6
}

.admin-navbar .mega-dropdown .sub-item .section-label,
.admin-navbar .nav-link.active,
.admin-navbar .nav-link:focus,
.admin-navbar .nav-link:hover {
    color: #FF72C6
}

.admin-navbar .sub-item ul a:active {
    background-color: #FF72C6
}

.admin-navbar .sub-item ul a:focus,
.admin-navbar .sub-item ul a:hover {
    color: #FF72C6
}

@media (max-width:992px) {
    .nav-item.with-sub .sub-item {
        border-top: 2px solid #FF72C6
    }
}

.nav-tabs .nav-submenu .nav-item.active {
    color: #FF72C6
}

.expanel-primary {
    border: #FF72C6 !important
}

.expanel-secondary {
    border: #32cafe !important
}

.expanel-primary>.expanel-heading {
    color: #fff !important;
    background-color: #FF72C6 !important;
    border-color: #FF72C6 !important
}

.expanel-secondary>.expanel-heading {
    color: #fff !important;
    background-color: #32cafe !important;
    border-color: #32cafe !important
}

.offer-primary {
    border-color: #FF72C6
}

.offer-primary .shape {
    border-color: transparent #FF72C6 transparent transparent
}

.jsr_slider:before,
.jsr_slider:focus:before,
.table-calendar-link:before,
.table-calendar-link:hover {
    background: #FF72C6
}

.range.range-primary input[type=range]::-moz-slider-thumb,
.range.range-primary input[type=range]::-webkit-slider-thumb {
    background-color: #FF72C6
}

.range.range-primary output {
    background-color: #FF72C6
}

.range.range-primary input[type=range] {
    outline-color: #FF72C6
}

.panel.price>.panel-heading {
    background: #FF72C6;
    color: #fff
}

.user-button i {
    border: 1px solid #FF72C6
}

.nav-tabs .nav-item1 .nav-link.active,
.nav-tabs .nav-item1 .nav-link:hover:not(.disabled),
.user-button i:hover {
    background: #FF72C6;
    color: #fff
}

.nav-tabs .nav-submenu .nav-item1.active {
    color: #FF72C6
}

.heading-primary {
    background-color: #FF72C6
}

.breadcrumb-item1 a {
    color: #FF72C6
}

.breadcrumb-arrow li a {
    background-color: #FF72C6;
    border: 1px solid #FF72C6
}

.breadcrumb-arrow li a:before {
    border-left-color: #FF72C6
}

.panel-default>.panel-heading {
    color: #FF72C6
}

.panel-primary .list-group-item.active {
    color: #fff;
    background-color: #FF72C6;
    border-color: #FF72C6
}

.panel-primary .list-group-item.active:hover {
    color: #fff;
    background-color: #6c4cbb;
    border-color: #6c4cbb
}

.panel-title1 a {
    background: #FF72C6
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #FF72C6
}

.badge-primary {
    color: #fff;
    background-color: #FF72C6
}

.badge-primary[href]:focus,
.badge-primary[href]:hover {
    color: #fff;
    text-decoration: none;
    background-color: #24987e
}

.dot1,
.dot2,
.sk-circle .sk-child:before,
.sk-cube-grid .sk-cube,
.spinner4>div {
    background: #FF72C6
}

.sk-folding-cube .sk-cube:before {
    background-color: #FF72C6
}

.spinner,
.spinner5>div {
    background: #FF72C6
}

.spinner-lg {
    background-color: #FF72C6
}

.double-bounce1,
.double-bounce2 {
    background: #FF72C6
}

.cube1,
.cube2 {
    background-color: #FF72C6
}

.lds-heart div,
.lds-heart div:after,
.lds-heart div:before {
    background: #FF72C6
}

.lds-ring div {
    border: 6px solid transparent;
    border-top-color: #FF72C6
}

.lds-hourglass:after {
    border-color: #FF72C6 transparent;
    border-style: solid;
    border-width: 26px
}

#back-to-top {
    background: #FF72C6 !important
}

#back-to-top:hover {
    color: #FF72C6;
    border: 2px solid #FF72C6
}

.sidebar .tabs-menu ul li .active,
.tabs-menu ul li .active {
    background: #FF72C6;
    color: #fff
}

.tabs-menu1 ul li .active {
    border-bottom: 3px solid #FF72C6
}

.rating-stars .rating-stars-container .rating-star.is--active,
.rating-stars .rating-stars-container .rating-star.is--active .fa-heart,
.rating-stars .rating-stars-container .rating-star.is--hover,
.rating-stars .rating-stars-container .rating-star.is--hover .fa-heart {
    color: #FF72C6
}

.br-theme-bars-horizontal .br-widget a.br-active,
.br-theme-bars-horizontal .br-widget a.br-selected {
    background-color: #FF72C6
}

.br-theme-bars-horizontal .br-widget .br-current-rating,
.br-theme-bars-pill .br-widget a {
    color: #FF72C6
}

.br-theme-bars-pill .br-widget a.br-active,
.br-theme-bars-pill .br-widget a.br-selected {
    background-color: #FF72C6;
    color: #fff
}

.br-theme-bars-square .br-widget a.br-active,
.br-theme-bars-square .br-widget a.br-selected {
    color: #FF72C6
}

.br-theme-bars-movie .br-widget a.br-active,
.br-theme-bars-movie .br-widget a.br-selected {
    background-color: #FF72C6
}

.br-theme-bars-movie .br-widget .br-current-rating {
    color: #FF72C6
}

.br-theme-bars-1to10 .br-widget a.br-active,
.br-theme-bars-1to10 .br-widget a.br-selected {
    background-color: #FF72C6
}

.br-theme-bars-1to10 .br-widget .br-current-rating,
.br-theme-fontawesome-stars .br-widget a.br-active:after,
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
    color: #FF72C6
}

.br-theme-fontawesome-stars-o .br-widget a.br-active:after,
.br-theme-fontawesome-stars-o .br-widget a.br-selected:after {
    content: "";
    color: #FF72C6
}

.br-theme-fontawesome-stars-o .br-widget a.br-fractional:after {
    content: "";
    color: #FF72C6
}

.action-header,
.message-feed:not(.right) .mf-content,
.msb-reply button {
    background: #FF72C6
}

.wizard-card .moving-tab {
    background-color: #FF72C6 !important
}

.form-group label.control-label {
    color: #FF72C6
}

.wizard-card .choice.active .icon,
.wizard-card .choice:hover .icon {
    border-color: #FF72C6 !important;
    color: #FF72C6 !important
}

.addui-slider .addui-slider-track .addui-slider-range {
    display: block;
    background: #FF72C6
}

.addui-slider .addui-slider-track .addui-slider-handle:after {
    background: #FF72C6
}

div.conv-form-wrapper div.options div.option,
form.convFormDynamic button.submit {
    border: 1px solid #FF72C6;
    background: #fff;
    color: #FF72C6
}

div.conv-form-wrapper div.options div.option.selected {
    background: #FF72C6;
    color: #fff
}

div.conv-form-wrapper div.options div.option.selected:hover {
    background: #FF72C6
}

form.convFormDynamic button.submit:hover {
    background: #FF72C6;
    color: #fff
}

div.conv-form-wrapper div#messages div.message.from {
    background: #FF72C6;
    color: #fff;
    border-top-right-radius: 0
}

#sidebar ul li.active>a {
    color: #FF72C6
}

.accordionjs .acc_section.acc_active>.acc_head,
.tab_wrapper>ul li.active {
    background: #FF72C6 !important
}

.tab_wrapper>ul li.active {
    border-color: #FF72C6 !important;
    color: #fff
}

.tab_wrapper.right_side>ul li.active:after {
    background: #FF72C6 !important
}

.sweet-alert button {
    background-color: #FF72C6 !important
}

.timeline__item:after {
    border: 6px solid #FF72C6
}

.job-box-filter a.filtsec i {
    color: #FF72C6;
    margin-right: 5px
}

.timelineleft>.timeleft-label>span {
    background-color: #FF72C6
}

.timelineleft>li>.fa,
.timelineleft>li>.glyphicon,
.timelineleft>li>.ion {
    background: #FF72C6
}

.chat .search_btn {
    background-color: #FF72C6 !important;
    border-radius: 0 2px 2px 0 !important
}

.chat .action-header,
.msg_head {
    background: #FF72C6
}

.accordion .accordion-header[aria-expanded=true] {
    background-color: #FF72C6
}

.acc-1 .accordion-header:hover {
    background: #FF72C6
}

.acc-1 .accordion__item .accordion-header[aria-expanded=true],
.acc-1 .accordion__item.active .accordion-header {
    background: #FF72C6;
    color: #fff
}

.statistics-info .counter-icon {
    border: 1px solid #FF72C6
}

.statistics-info .counter-icon i {
    color: #FF72C6
}

.card-pricing {
    border: 2px solid #FF72C6
}

.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>th:first-child:before {
    background-color: #FF72C6 !important
}

.sw-theme-dots .nav-tabs .nav-link:hover:not(.disabled) {
    color: #FF72C6;
    background: transparent
}

#myTab .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: #FF72C6
}

.latest-timeline ul.timeline>li:before {
    border: 3px solid #FF72C6
}

.card-bgimg:before {
    background: #FF72C6
}

.header-form .form-inline .btn {
    border: 2px solid #FF72C6
}

@media (max-width:992px) {
    .search-show .search-element {
        background: #FF72C6
    }
}

.slide-item.active {
    color: #FF72C6
}

.btn-absolute .btn-primary:hover {
    background: #FF72C6 !important
}

.search-show .search-element.search-element1 {
    background: #FF72C6
}

.jsr_bar {
    background-color: #FF72C6
}

.cal1 .clndr .clndr-table tr .day.my-today,
.cal1 .clndr .clndr-table tr .day.today {
    color: #FF72C6 !important;
    background: none
}

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button,
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
    color: #fff;
    background: #FF72C6
}

.resp-tab-active {
    border: 1px solid #FF72C6 !important;
    border-top: 4px solid #FF72C6 !important
}

.resp-tab-content {
    border-top-color: #FF72C6
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #FF72C6
}

.daterangepicker .input-mini.active,
.ranges li:hover {
    border: 1px solid #FF72C6
}

.ranges li:hover {
    background-color: #FF72C6;
    color: #fff
}

.ranges li.active {
    background-color: #FF72C6 !important;
    border: 1px solid #FF72C6 !important;
    color: #fff
}

.sw-theme-dots>ul.step-anchor>li.active>a {
    color: #FF72C6
}

.sw-theme-dots>ul.step-anchor>li.active>a:after {
    background: #FF72C6
}

.sw-theme-default>ul.step-anchor>li.clickable>a:hover {
    color: #FF72C6 !important
}

.sw-theme-default>ul.step-anchor>li>a:after {
    background: #FF72C6
}

.sw-theme-default>ul.step-anchor>li.active>a {
    background: #FF72C6 !important
}

.sw-theme-default>ul.step-anchor>li.done>a:after {
    background: #FF72C6
}

.form-group .checkbox label,
.form-group.has-error .help-block,
.form-group.has-error label.control-label,
.form-group.is-focused.label-placeholder label,
.form-group.is-focused.label-placeholder label.control-label,
.form-group .radio label,
.form-group label,
label.control-label {
    color: #FF72C6
}

.form-group.form-group-sm .form-control:-ms-input-placeholder,
.form-group.form-group-sm .form-control::-moz-placeholder,
.form-group.form-group-sm .form-control::-webkit-input-placeholder {
    color: #FF72C6
}

.form-group.form-group-sm .checkbox label,
.form-group.form-group-sm .radio label,
.form-group.form-group-sm label,
.form-group.form-group-sm label.control-label {
    color: #FF72C6
}

.form-group.form-group-lg .form-control:-ms-input-placeholder,
.form-group.form-group-lg .form-control::-moz-placeholder,
.form-group.form-group-lg .form-control::-webkit-input-placeholder {
    color: #FF72C6
}

.form-group.form-group-lg .checkbox label,
.form-group.form-group-lg .radio label,
.form-group.form-group-lg label,
.form-group.form-group-lg label.control-label {
    color: #FF72C6
}

.fc button {
    background: #FF72C6
}

.horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li a:hover,
.horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a:hover,
.horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a:hover {
    color: #FF72C6
}

@media only screen and (max-width:991px) {
    .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu li:hover>a {
        color: #FF72C6 !important
    }
}

.hor-menu .horizontalMenu>.horizontalMenu-list>li>a.active {
    color: #fff;
    background: #FF72C6 !important
}

.hor-menu .horizontalMenu>.horizontalMenu-list>li>a:hover:before {
    border-bottom: 2px solid #FF72C6
}

.jvectormap-goback,
.jvectormap-zoomin,
.jvectormap-zoomout {
    background: #FF72C6
}

.ms-choice {
    color: #FF72C6
}

.wrapper>h1 span {
    border-bottom: 2px solid #FF72C6;
    color: #FF72C6
}

.tab_wrapper .controller span {
    background: #FF72C6
}

.tab_wrapper .content_wrapper .accordian_header.active {
    color: #FF72C6
}

.tab_wrapper .content_wrapper .accordian_header.active:after {
    background: #FF72C6
}

.tab_wrapper .content_wrapper .accordian_header.active .arrow {
    transform: rotate(45deg);
    margin-top: 5px
}

.tab_wrapper.left_side>ul li.active:after {
    background: #FF72C6
}

.mce-grid td.mce-grid-cell div:focus {
    border-color: #FF72C6
}

.mce-grid a:focus,
.mce-grid a:hover {
    border-color: #FF72C6 !important
}

.mce-grid-border a.mce-active,
.mce-grid-border a:hover {
    border-color: #FF72C6;
    background: #FF72C6
}

.mce-primary,
.mce-primary.mce-active,
.mce-primary.mce-active:hover,
.mce-primary:not(.mce-disabled):active {
    background-color: #FF72C6
}

.mce-menu-item.mce-disabled:hover {
    background: #FF72C6;
    color: #fff !important
}

.mce-menu-item-normal.mce-active,
.mce-menu-item.mce-selected,
.mce-menu-item:focus,
.mce-menu-item:hover {
    background-color: #FF72C6
}

.mce-textbox.mce-focus,
.mce-textbox:focus {
    border-color: #FF72C6
}

.richText .richText-editor:focus {
    border-left: 5px solid #FF72C6
}

.slide-menu li a:hover {
    color: #FF72C6 !important
}

.app-sidebar .side-menu__item:hover {
    background: linear-gradient(125deg, #FF72C6, #FF72C6) !important;
    color: #fff !important
}

.side-menu__item.active,
.side-menu__item:focus,
.side-menu__item:hover {
    text-decoration: none;
    color: #FF72C6;
    background: hsla(0, 0%, 100%, .1)
}

.side-menu__item.active .side-menu__icon,
.side-menu__item:focus .side-menu__icon,
.side-menu__item:hover .side-menu__icon,
.slide-menu li.active>a {
    color: #FF72C6
}

.slide-menu a.active {
    color: #FF72C6;
    background: hsla(0, 0%, 88.2%, .1)
}

.slide-item.active,
.slide-item:focus,
.slide-item:hover {
    text-decoration: none;
    color: #FF72C6 !important
}

.side-menu .side-menu__icon {
    color: #FF72C6 !important
}

.form-control:focus {
    border-color: rgba(70, 127, 207, .6)
}

.btn-outline-default.focus,
.btn-outline-default:focus,
.btn-outline-default:not(:disabled):not(.disabled).active:focus,
.btn-outline-default:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-default.dropdown-toggle:focus {
    box-shadow: 0 0 0 2px rgba(70, 127, 207, .1)
}

.selectgroup-input:focus+.selectgroup-button {
    box-shadow: 0 0 0 2px rgba(70, 127, 207, .25)
}

.custom-range::-ms-thumb:focus,
.custom-range::-webkit-slider-thumb:focus {
    box-shadow: 0 0 0 1px #f9f9f9, 0 0 0 2px rgba(70, 127, 207, .25)
}

.btn-blue.focus,
.btn-blue:focus,
.btn-blue:not(:disabled):not(.disabled).active:focus,
.btn-blue:not(:disabled):not(.disabled):active:focus,
.show>.btn-blue.dropdown-toggle:focus {
    box-shadow: 0 0 0 2px rgba(70, 127, 207, .5)
}

.link-overlay-bg {
    background: rgba(70, 127, 207, .8)
}

.bg-primary-transparent {
    background-color: rgba(70, 127, 207, .1)
}

.app-sidebar .side-menu__item.active {
    color: #FF72C6
}

.clock-presenter {
    background: #FF72C6 !important
}

.resp-vtabs .first-sidemenu li.resp-tab-active:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background: #FF72C6
}

.resp-vtabs .first-sidemenu li.active {
    border-left: 4px solid #FF72C6 !important;
    background: #FF72C6 !important;
    color: #fff;
    border-bottom: 0 !important
}

.resp-vtabs .first-sidemenu li.resp-tab-active {
    color: #fff
}